<h1>Events</h1>
<table border="solid" width="500">
  <th>ID</th>
  <th>Description</th>
  <th>Status</th>
  <%- @events.each do |event| %>
    <tr>
      <td><%= event.public_id %></td>
      <td><%= event.description %></td>
      <td><%= event.status %></td>
    </tr>
  <% end %>
</table>
